<h3><%= knowledge_entry.title %></h3>
<%- unless current_user.nil? -%>
  <%= link_to("edit", :action => "edit", :id => knowledge_entry.id) %> /
  <%= link_to("delete", :action => "delete", :id => knowledge_entry.id) %>
<%- end -%>
<div>
  <%= parse_coderay(knowledge_entry.content) %>
</div>
<ul class="tags_ke">
  <%- knowledge_entry.tags.each do |tag| -%>
    <li><%= link_to(tag, tag_path(tag)) %></li>
  <%- end -%>
</ul>