<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>kb</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'kb'  %>
    <style>
      <%= CodeRay::Encoders[:html]::CSS.new().stylesheet %>
    </style>

  </head>
  <body>
    <div class="wrapper">
      <ul>
        <li><%= link_to("home", "/") %></li>
        <li><%= link_to("create entry", new_knowledge_entry_url) %></li>
        <li>
          <% form_tag(search_path) do %>
            <p>
              <%= text_field_tag("q") %>
              <%= submit_tag("go") %>
            </p>
          <% end %>
        </li>
        <%- if current_user.nil? -%>
          <li><%= link_to("signup", "/signup") %></li>
          <li><%= link_to("login", "/login") %></li>
        <%- else -%>
          <li><%= link_to("logout", "/logout") %></li>
        <%- end -%>
      </ul>

      <%= "<p class=\"flash\">#{flash[:notice]}</p>" unless flash[:notice].nil? %>

      <%= yield %>
    </div>
  </body>
</html>
